Repository signalflowsean/Sarcasm-Detection: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-staged-frontend, prettier-e2e

.pre-commit-config.yaml:

# Pre-commit hooks for automatic linting/formatting
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        exclude: ^(\.vscode/|frontend/tsconfig\..*\.json$)
      - id: check-added-large-files
        args: ["--maxkb=1000"]

  # Python - Ruff (linting + formatting)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.2
    hooks:
      # Linter with auto-fix (backend only - ml/ has training scripts)
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: ^backend/
      # Formatter (both backend and ml)
      - id: ruff-format
        files: ^backend/|^ml/

  # Frontend - ESLint + Prettier (via lint-staged for speed)
  - repo: local
    hooks:
      - id: lint-staged-frontend
        name: lint-staged (frontend)
        entry: bash -c 'cd frontend && npx lint-staged'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|css|json)$
        pass_filenames: false

  # E2E - Prettier for TypeScript
  - repo: local
    hooks:
      - id: prettier-e2e
        name: prettier (e2e)
        entry: bash -c 'cd e2e && npx prettier --write "tests/**/*.ts" "*.ts" "*.json"'
        language: system
        files: ^e2e/.*\.(ts|js|json)$
        pass_filenames: false

Download ONNX model from GitHub releases during Docker build
  backend/Dockerfile
Due: none

woops
  frontend/src/features/input/GettingStarted.tsx
Due: lint-staged-frontend

Add error handling and validation to ONNX download
  backend/Dockerfile
Due: none

Add SHA256 checksum verification for ONNX model download
  backend/Dockerfile
Due: none

onnx fix
  backend/.dockerignore
  backend/Dockerfile
Due: none

onnx fix
  README.md
Due: none

Fix: Download ONNX model from GitHub releases (#13)
  README.md
  backend/.dockerignore
  backend/Dockerfile
  frontend/src/features/input/GettingStarted.tsx
Due: lint-staged-frontend

ui updates
  e2e/tests/app.spec.ts
  e2e/tests/audio-recording.spec.ts
  e2e/tests/navigation.spec.ts
  e2e/tests/text-input.spec.ts
  frontend/src/App.tsx
  frontend/src/features/input/AudioRecorder.tsx
  frontend/src/features/input/GettingStarted.tsx
  frontend/src/features/input/InputContainer.tsx
  frontend/src/features/input/TextInput.tsx
  frontend/src/features/input/components/Controls.tsx
  frontend/src/features/input/components/MicButton.tsx
  frontend/src/features/input/components/RecorderContent.tsx
  frontend/src/features/input/components/SharedTextArea.tsx
  frontend/src/features/input/components/Status.tsx
  frontend/src/features/input/components/Waveform.tsx
  frontend/src/features/meter/components/RotarySwitch.tsx
  frontend/src/features/meter/index.tsx
  frontend/src/index.css
Due: lint-staged-frontend, prettier-e2e

ui updates
  e2e/tests/audio-recording.spec.ts
  e2e/tests/navigation.spec.ts
Due: prettier-e2e

UI Updates (#14)
  e2e/tests/app.spec.ts
  e2e/tests/audio-recording.spec.ts
  e2e/tests/navigation.spec.ts
  e2e/tests/text-input.spec.ts
  frontend/src/App.tsx
  frontend/src/features/input/AudioRecorder.tsx
  frontend/src/features/input/GettingStarted.tsx
  frontend/src/features/input/InputContainer.tsx
  frontend/src/features/input/TextInput.tsx
  frontend/src/features/input/components/Controls.tsx
  frontend/src/features/input/components/MicButton.tsx
  frontend/src/features/input/components/RecorderContent.tsx
  frontend/src/features/input/components/SharedTextArea.tsx
  frontend/src/features/input/components/Status.tsx
  frontend/src/features/input/components/Waveform.tsx
  frontend/src/features/meter/components/RotarySwitch.tsx
  frontend/src/features/meter/index.tsx
  frontend/src/index.css
Due: lint-staged-frontend, prettier-e2e

color change
  frontend/src/index.css
Due: lint-staged-frontend

color change (#15)
  frontend/src/index.css
Due: lint-staged-frontend

mobile audio
  backend/tests/conftest.py
  backend/tests/mocks.py
  e2e/fixtures/README.md
  e2e/fixtures/generate-test-audio.js
  e2e/tests/audio-recording.spec.ts
  e2e/tests/mobile-audio.spec.ts
  frontend/src/features/input/AudioRecorder.tsx
  frontend/src/features/input/components/SpeechStatus.tsx
  frontend/src/features/input/hooks/useSpeechRecognition.ts
  frontend/src/features/meter/DetectionProvider.tsx
  frontend/src/index.css
  frontend/src/test/mocks.ts
  mocks/README.md
  mocks/api/responses.json
  mocks/fixtures/generate-audio.js
  mocks/fixtures/test-audio-short.wav
  mocks/fixtures/test-audio-silent.wav
  mocks/fixtures/test-audio.wav
  mocks/fixtures/test-phrases.json
  mocks/python/__init__.py
  mocks/python/audio.py
  mocks/python/fixtures.py
  mocks/python/models.py
  mocks/typescript/audio.ts
  mocks/typescript/fetch.ts
  mocks/typescript/index.ts
  mocks/typescript/tsconfig.json
Due: lint-staged-frontend, prettier-e2e

mobile audio
  backend/tests/conftest.py
  backend/tests/mocks.py
  e2e/tests/mobile-audio.spec.ts
  frontend/src/features/input/components/SpeechStatus.tsx
  frontend/src/features/input/components/Transcript.tsx
  frontend/src/features/input/hooks/useSpeechRecognition.ts
  frontend/src/features/meter/DetectionProvider.tsx
  frontend/src/index.css
  frontend/tsconfig.app.json
  frontend/vite.config.ts
  mocks/README.md
  mocks/python/__init__.py
  mocks/typescript/audio-node.ts
  mocks/typescript/audio.ts
  mocks/typescript/index.ts
  mocks/typescript/package-lock.json
  mocks/typescript/package.json
  mocks/typescript/tsconfig.json
Due: lint-staged-frontend, prettier-e2e

mobile audio
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.app.json
Due: lint-staged-frontend

mobile audio
  mocks/typescript/audio-node.ts
  mocks/typescript/audio.ts
  mocks/typescript/index.ts
Due: none

mobile audio
  e2e/package-lock.json
  e2e/package.json
  e2e/tests/audio-recording.spec.ts
  e2e/tests/mobile-audio.spec.ts
  e2e/tests/utils/audio-mocks.ts
  e2e/tsconfig.json
Due: prettier-e2e

Web Audio Supported Error Messaging and Test Mocking (#17)
  backend/tests/conftest.py
  backend/tests/mocks.py
  e2e/fixtures/README.md
  e2e/fixtures/generate-test-audio.js
  e2e/package-lock.json
  e2e/package.json
  e2e/tests/audio-recording.spec.ts
  e2e/tests/mobile-audio.spec.ts
  e2e/tests/utils/audio-mocks.ts
  e2e/tsconfig.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/features/input/AudioRecorder.tsx
  frontend/src/features/input/components/SpeechStatus.tsx
  frontend/src/features/input/components/Transcript.tsx
  frontend/src/features/input/hooks/useSpeechRecognition.ts
  frontend/src/features/meter/DetectionProvider.tsx
  frontend/src/index.css
  frontend/src/test/mocks.ts
  frontend/tsconfig.app.json
  frontend/vite.config.ts
  mocks/README.md
  mocks/api/responses.json
  mocks/fixtures/generate-audio.js
  mocks/fixtures/test-audio-short.wav
  mocks/fixtures/test-audio-silent.wav
  mocks/fixtures/test-audio.wav
  mocks/fixtures/test-phrases.json
  mocks/python/__init__.py
  mocks/python/audio.py
  mocks/python/fixtures.py
  mocks/python/models.py
  mocks/typescript/audio-node.ts
  mocks/typescript/audio.ts
  mocks/typescript/fetch.ts
  mocks/typescript/index.ts
  mocks/typescript/package-lock.json
  mocks/typescript/package.json
  mocks/typescript/tsconfig.json
Due: lint-staged-frontend, prettier-e2e

mobile audio try 2
  e2e/tests/mobile-audio.spec.ts
  e2e/tests/utils/audio-mocks.ts
Due: prettier-e2e

mobile audio try 2
  frontend/src/features/input/AudioRecorder.tsx
  frontend/src/features/input/components/RecorderContent.tsx
  frontend/src/features/input/hooks/useSpeechRecognition.ts
Due: lint-staged-frontend

mobile audio try 2
  frontend/src/features/input/hooks/useSpeechRecognition.ts
  frontend/src/features/meter/DetectionProvider.tsx
Due: lint-staged-frontend

Speech To Text - Not Supported (#18)
  e2e/tests/mobile-audio.spec.ts
  e2e/tests/utils/audio-mocks.ts
  frontend/src/features/input/AudioRecorder.tsx
  frontend/src/features/input/components/RecorderContent.tsx
  frontend/src/features/input/hooks/useSpeechRecognition.ts
  frontend/src/features/meter/DetectionProvider.tsx
Due: lint-staged-frontend, prettier-e2e

accessibility pass
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  e2e/fixtures/README.md
  e2e/fixtures/test-audio.wav
  e2e/package-lock.json
  e2e/package.json
  e2e/tests/accessibility.spec.ts
  frontend/index.html
  frontend/src/features/input/components/RecorderContent.tsx
  frontend/src/features/meter/components/RotarySwitch.tsx
  frontend/src/index.css
Due: lint-staged-frontend, prettier-e2e

accessibility pass
  e2e/tests/audio-recording.spec.ts
  e2e/tests/mobile-audio.spec.ts
  e2e/tests/utils/audio-mocks.ts
Due: prettier-e2e

Accessibility Pass (#19)
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  e2e/fixtures/README.md
  e2e/fixtures/test-audio.wav
  e2e/package-lock.json
  e2e/package.json
  e2e/tests/accessibility.spec.ts
  e2e/tests/audio-recording.spec.ts
  e2e/tests/mobile-audio.spec.ts
  e2e/tests/utils/audio-mocks.ts
  frontend/index.html
  frontend/src/features/input/components/RecorderContent.tsx
  frontend/src/features/meter/components/RotarySwitch.tsx
  frontend/src/index.css
Due: lint-staged-frontend, prettier-e2e

uses moonshine for speech to text
  e2e/tests/audio-recording.spec.ts
  e2e/tests/mobile-audio.spec.ts
  e2e/tests/smoke.spec.ts
  e2e/tests/utils/audio-mocks.ts
  frontend/env.example
  frontend/package-lock.json
  frontend/package.json
  frontend/src/features/input/components/RecorderContent.tsx
  frontend/src/features/input/components/SpeechStatus.tsx
  frontend/src/features/input/hooks/useSpeechRecognition.ts
  frontend/src/test/mocks.ts
  frontend/src/types/moonshine-js.d.ts
  mocks/typescript/audio.ts
  mocks/typescript/index.ts
Due: lint-staged-frontend, prettier-e2e

uses moonshine for speech to text
  frontend/src/features/input/hooks/useSpeechRecognition.ts
  frontend/src/types/moonshine-js.d.ts
Due: lint-staged-frontend

uses moonshine for speech to text
  backend/Dockerfile
  e2e/.prettierignore
  e2e/env.example
  e2e/tests/smoke.spec.ts
  e2e/tests/utils/audio-mocks.ts
  frontend/src/features/input/hooks/useSpeechRecognition.ts
  mocks/typescript/audio.ts
Due: lint-staged-frontend, prettier-e2e

uses moonshine for speech to text
  e2e/env.example
Due: none

uses moonshine for speech to text
  frontend/env.example
  frontend/src/features/input/hooks/useSpeechRecognition.ts
  mocks/typescript/audio-node.ts
  mocks/typescript/audio.ts
Due: lint-staged-frontend

uses moonshine for speech to text
  README.md
  e2e/tests/smoke.spec.ts
  e2e/tests/utils/audio-mocks.ts
  frontend/src/features/input/hooks/useSpeechRecognition.test.ts
  ml/prosodic/README.md
Due: lint-staged-frontend, prettier-e2e

uses moonshine for speech to text
  backend/Dockerfile
  e2e/env.example
  frontend/env.example
  frontend/src/features/input/components/SpeechStatus.tsx
  frontend/src/features/input/hooks/useSpeechRecognition.test.ts
  frontend/src/features/input/hooks/useSpeechRecognition.ts
Due: lint-staged-frontend

uses moonshine for speech to text
  frontend/src/features/input/hooks/useSpeechRecognition.test.ts
  frontend/src/features/input/hooks/useSpeechRecognition.ts
Due: lint-staged-frontend

uses moonshine for speech to text
  backend/Dockerfile
  e2e/tests/smoke.spec.ts
  mocks/typescript/audio.ts
Due: prettier-e2e

uses moonshine for speech to text
  backend/Dockerfile
  e2e/env.example
  e2e/tests/smoke.spec.ts
  frontend/src/features/input/hooks/useSpeechRecognition.test.ts
  frontend/src/features/input/hooks/useSpeechRecognition.ts
  mocks/typescript/audio.ts
Due: lint-staged-frontend, prettier-e2e

Update frontend/package.json
  frontend/package.json
Due: lint-staged-frontend

uses moonshine for speech to text
  frontend/src/features/input/components/SpeechStatus.tsx
Due: lint-staged-frontend
