Repository signalflowsean/Sarcasm-Detection: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, lint-staged-frontend, prettier-e2e

ruff:
  name: ruff (lint)
  entry: bash -c 'python_files=(); for f in "$@"; do [[ "$f" == *.py ]] && python_files+=("$f"); done; [ ${#python_files[@]} -gt 0 ] && ruff check --fix "${python_files[@]}" || true' --
  language: system
  pass_filenames: true
  args:
  - --exit-non-zero-on-fix

ruff-format:
  name: ruff (format)
  entry: bash -c 'ruff format "$@"' --
  language: system
  pass_filenames: true

lint-staged-frontend:
  name: lint-staged (frontend)
  entry: bash -c 'cd frontend && npx lint-staged'
  language: system
  pass_filenames: false

prettier-e2e:
  name: prettier (e2e)
  entry: bash -c 'cd e2e && npx prettier --write "tests/**/*.ts" "*.ts" "*.json"'
  language: system
  pass_filenames: false

auto-stop feature
  frontend/src/features/input/components/MobileInputControls.tsx
  frontend/src/features/input/components/RecorderContent.tsx
  frontend/src/features/input/components/Status.tsx
  frontend/src/index.css
Due: lint-staged-frontend

auto-stop feature
  .github/workflows/version.yml
Due: none

auto-stop feature
  README.md
Due: none

Recording Auto Stops (#27)
  .github/workflows/version.yml
  README.md
  frontend/package.json
  frontend/src/features/input/AudioRecorder.tsx
  frontend/src/features/input/components/MobileInputControls.tsx
  frontend/src/features/input/components/RecorderContent.tsx
  frontend/src/features/input/components/SpeechStatus.tsx
  frontend/src/features/input/components/Status.tsx
  frontend/src/features/input/hooks/constants.ts
  frontend/src/features/input/hooks/useAudioRecorder.test.ts
  frontend/src/features/input/hooks/useAudioRecorder.ts
  frontend/src/features/meter/context/DetectionProvider.tsx
  frontend/src/features/meter/utils/meterConstants.ts
  frontend/src/index.css
Due: lint-staged-frontend

fixes
  e2e/tests/app.spec.ts
  e2e/tests/audio-recording.spec.ts
  e2e/tests/mobile-audio.spec.ts
  e2e/tests/navigation.spec.ts
  e2e/tests/needle-reset.spec.ts
  e2e/tests/rate-limiting.spec.ts
  e2e/tests/text-input.spec.ts
  e2e/tests/utils/navigation.ts
Due: prettier-e2e

fixes
  e2e/tests/needle-reset.spec.ts
  frontend/src/features/input/components/RecorderContent.tsx
  frontend/src/features/input/components/SpeechStatus.tsx
  frontend/src/features/meter/context/DetectionProvider.tsx
Due: lint-staged-frontend, prettier-e2e

fixes
  e2e/tests/needle-reset.spec.ts
  frontend/src/features/input/components/SpeechStatus.tsx
Due: lint-staged-frontend, prettier-e2e

fixes
  frontend/src/features/meter/context/DetectionProvider.tsx
Due: lint-staged-frontend

Needle Reset (#28)
  e2e/tests/app.spec.ts
  e2e/tests/audio-recording.spec.ts
  e2e/tests/mobile-audio.spec.ts
  e2e/tests/navigation.spec.ts
  e2e/tests/needle-reset.spec.ts
  e2e/tests/rate-limiting.spec.ts
  e2e/tests/text-input.spec.ts
  e2e/tests/utils/navigation.ts
  frontend/src/features/input/components/RecorderContent.tsx
  frontend/src/features/input/components/SpeechStatus.tsx
  frontend/src/features/meter/context/DetectionProvider.tsx
Due: lint-staged-frontend, prettier-e2e

chores
  backend/app.py
  backend/middleware/__init__.py
  backend/middleware/logging.py
  frontend/src/features/input/apiService.test.ts
  frontend/src/features/input/apiService.ts
Due: ruff, ruff-format, lint-staged-frontend

chores
  backend/middleware/logging.py
Due: ruff, ruff-format

chores
  README.md
  backend/tests/test_logging.py
  frontend/src/features/input/apiService.ts
Due: ruff, ruff-format, lint-staged-frontend

chores
  .github/workflows/ci.yml
  backend/scripts/check-formatting.sh
  backend/tests/test_logging.py
Due: ruff, ruff-format

chores
  .github/dependabot.yml
  .github/workflows/security.yml
Due: none

chores
  .github/workflows/security.yml
  README.md
  backend/middleware/logging.py
  backend/tests/test_logging.py
  frontend/package-lock.json
  frontend/src/features/input/apiService.ts
Due: ruff, ruff-format, lint-staged-frontend

chores
  .github/dependabot.yml
  .github/workflows/ci.yml
  README.md
  backend/middleware/logging.py
  backend/scripts/check-formatting.sh
  frontend/src/features/input/apiService.ts
Due: ruff, ruff-format, lint-staged-frontend

chores
  frontend/src/features/input/apiService.test.ts
Due: lint-staged-frontend

chores
  frontend/nginx.conf
Due: none

chores
  backend/config.py
  frontend/nginx.conf
  frontend/src/features/input/apiService.ts
Due: ruff, ruff-format, lint-staged-frontend

chores
  backend/routes/prosodic.py
  frontend/src/features/input/apiService.test.ts
Due: ruff, ruff-format, lint-staged-frontend

chores
  backend/tests/test_logging.py
  frontend/src/features/input/apiService.ts
Due: ruff, ruff-format, lint-staged-frontend

chores
  .github/workflows/ci.yml
  README.md
  backend/config.py
  backend/docs/LOCK_ORDERING.md
  backend/docs/LOCK_ORDERING_SUMMARY.md
  backend/docs/lock_ordering_demo.py
  backend/models/loader.py
  backend/routes/health.py
  backend/tests/conftest.py
  backend/tests/test_lock_ordering.py
  docker-compose.yml
  frontend/src/features/input/apiService.test.ts
  frontend/src/features/input/apiService.ts
Due: ruff, ruff-format, lint-staged-frontend

chores
  .github/workflows/e2e.yml
Due: none

chores
  frontend/src/features/input/apiService.test.ts
  frontend/src/features/input/apiService.ts
Due: lint-staged-frontend

chores
  frontend/src/features/input/apiService.ts
  package.json
Due: lint-staged-frontend

chores
  backend/config.py
Due: ruff, ruff-format

chores
  e2e/tests/mode-switch-reset.spec.ts
  frontend/src/features/input/apiService.test.ts
  frontend/src/features/meter/context/DetectionProvider.tsx
  frontend/src/features/meter/index.tsx
Due: lint-staged-frontend, prettier-e2e

chores
  README.md
  backend/config.py
  e2e/tests/mode-switch-reset.spec.ts
Due: ruff, ruff-format, prettier-e2e

chores
  package.json
Due: none

BE Logging, FE Time Out Api Handling, FE Input Validation (#29)
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  README.md
  backend/app.py
  backend/config.py
  backend/docs/LOCK_ORDERING.md
  backend/docs/LOCK_ORDERING_SUMMARY.md
  backend/docs/lock_ordering_demo.py
  backend/middleware/__init__.py
  backend/middleware/logging.py
  backend/models/loader.py
  backend/routes/health.py
  backend/routes/prosodic.py
  backend/scripts/check-formatting.sh
  backend/tests/conftest.py
  backend/tests/test_lock_ordering.py
  backend/tests/test_logging.py
  docker-compose.yml
  e2e/tests/mode-switch-reset.spec.ts
  frontend/nginx.conf
  frontend/package-lock.json
  frontend/src/features/input/apiService.test.ts
  frontend/src/features/input/apiService.ts
  frontend/src/features/meter/context/DetectionProvider.tsx
  frontend/src/features/meter/index.tsx
  package.json
Due: ruff, ruff-format, lint-staged-frontend, prettier-e2e

speech to text fallback
  README.md
  frontend/docs/MOONSHINE_MODELS.md
  frontend/src/App.tsx
  frontend/src/features/input/AudioRecorder.tsx
  frontend/src/features/input/components/MobileInputControls.tsx
  frontend/src/features/input/components/MoonshinePreloadStatus.tsx
  frontend/src/features/input/components/RecorderContent.tsx
  frontend/src/features/input/components/RetroSpinner.tsx
  frontend/src/features/input/components/SpeechStatus.tsx
  frontend/src/features/input/components/Status.tsx
  frontend/src/features/input/components/Waveform.tsx
  frontend/src/features/input/hooks/constants.ts
  frontend/src/features/input/hooks/speech/index.test.ts
  frontend/src/features/input/hooks/speech/index.ts
  frontend/src/features/input/hooks/speech/moonshineEngine.ts
  frontend/src/features/input/hooks/speech/webSpeechEngine.ts
  frontend/src/features/input/hooks/useAudioRecorder.test.ts
  frontend/src/features/input/hooks/useAudioRecorder.ts
  frontend/src/features/input/hooks/useMoonshinePreload.ts
  frontend/src/features/input/hooks/useWaveform.ts
  frontend/src/features/input/utils/format.ts
  frontend/src/index.css
  frontend/src/types/moonshine-js.d.ts
  mocks/typescript/audio.ts
Due: lint-staged-frontend

speech to text fallback
  e2e/tests/utils/audio-mocks.ts
  frontend/src/features/input/AudioRecorder.tsx
  frontend/src/features/input/components/SpeechStatus.tsx
  frontend/src/features/input/hooks/constants.ts
  frontend/src/features/input/hooks/speech/index.test.ts
  frontend/src/features/input/hooks/speech/index.ts
  frontend/src/features/input/hooks/speech/moonshineEngine.ts
  frontend/src/features/input/hooks/speech/webSpeechEngine.ts
  frontend/src/features/input/hooks/useAudioRecorder.ts
  frontend/src/features/input/hooks/useMoonshinePreload.ts
  frontend/src/features/input/hooks/useWaveform.ts
  frontend/src/features/input/utils/format.ts
  frontend/src/index.css
Due: lint-staged-frontend, prettier-e2e

speech to text fallback
  e2e/tests/utils/audio-mocks.ts
  frontend/index.html
  frontend/src/features/input/AudioRecorder.tsx
  frontend/src/features/input/components/MoonshinePreloadStatus.tsx
  frontend/src/features/input/components/SpeechStatus.tsx
  frontend/src/features/input/components/Waveform.tsx
  frontend/src/features/input/hooks/speech/index.ts
  frontend/src/features/input/hooks/speech/moonshineEngine.ts
  frontend/src/features/input/hooks/useAudioRecorder.ts
  frontend/src/features/input/hooks/useMoonshinePreload.ts
  frontend/src/features/input/hooks/useWaveform.ts
  frontend/src/index.css
Due: lint-staged-frontend, prettier-e2e

speech to text fallback
  e2e/env.example
  e2e/tests/utils/audio-mocks.ts
  frontend/env.example
  frontend/src/features/input/hooks/speech/index.ts
  frontend/src/features/input/hooks/speech/moonshineEngine.ts
  frontend/src/features/input/hooks/useAudioRecorder.ts
  frontend/src/features/input/hooks/useWaveform.ts
  frontend/src/features/input/utils/format.ts
  frontend/src/features/input/utils/waveformGain.test.ts
  frontend/src/features/input/utils/waveformGain.ts
Due: lint-staged-frontend, prettier-e2e

speech to text fallback
  frontend/src/features/input/hooks/useMoonshinePreload.ts
Due: lint-staged-frontend

speech to text fallback
  e2e/env.example
  frontend/docs/MOONSHINE_MODELS.md
  frontend/env.example
  frontend/src/features/input/components/MobileInputControls.tsx
  frontend/src/features/input/components/ModelSelector.tsx
  frontend/src/features/input/components/MoonshinePreloadStatus.tsx
  frontend/src/features/input/components/RecorderContent.tsx
  frontend/src/features/input/components/SpeechStatus.tsx
  frontend/src/features/input/components/Status.tsx
  frontend/src/features/input/hooks/constants.ts
  frontend/src/features/input/hooks/speech/moonshineEngine.ts
  frontend/src/features/input/hooks/useAudioRecorder.test.md
  frontend/src/features/input/hooks/useAudioRecorder.test.ts
  frontend/src/features/input/hooks/useWaveform.ts
  frontend/src/features/input/utils/env.ts
  frontend/src/features/input/utils/format.test.ts
  frontend/src/features/input/utils/format.ts
  frontend/src/features/input/utils/waveformGain.ts
Due: lint-staged-frontend

Path conditions:
  ruff: any of: ^backend/.*\.py$
  ruff-format: any of: ^backend/.*\.py$|^ml/.*\.py$
  lint-staged-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json)$
  prettier-e2e: any of: ^e2e/.*\.(ts|js|json)$
