Repository signalflowsean/Sarcasm-Detection: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-staged-frontend, prettier-e2e

lint-staged-frontend:
  name: lint-staged (frontend)
  entry: bash -c 'cd frontend && npx lint-staged'
  language: system
  pass_filenames: false

prettier-e2e:
  name: prettier (e2e)
  entry: bash -c 'cd e2e && npx prettier --write "tests/**/*.ts" "*.ts" "*.json"'
  language: system
  pass_filenames: false

mobile
  frontend/src/features/input/components/MobileInputControls.tsx
Due: lint-staged-frontend

mobile
  frontend/src/features/input/AudioRecorder.tsx
  frontend/src/features/input/components/MobileInputControls.tsx
Due: lint-staged-frontend

mobile
  frontend/src/features/input/components/MobileInputControls.tsx
  frontend/src/features/input/hooks/speech/webSpeechEngine.ts
Due: lint-staged-frontend

fix mobile
  frontend/src/features/meter/index.tsx
  frontend/src/index.css
Due: lint-staged-frontend

fix mobile (#23)
  frontend/src/features/meter/index.tsx
  frontend/src/index.css
Due: lint-staged-frontend

dev loader
  frontend/src/features/input/AudioRecorder.tsx
  frontend/src/features/input/components/MobileInputControls.tsx
  frontend/src/features/input/components/SpeechStatus.tsx
  frontend/src/features/input/hooks/useDevLoadingOverride.ts
Due: lint-staged-frontend

loading
  README.md
  frontend/src/features/input/TextInput.tsx
  frontend/src/features/input/components/Controls.tsx
  frontend/src/features/input/components/DiscardButton.tsx
  frontend/src/features/input/components/MicButton.tsx
  frontend/src/features/input/components/MobileInputControls.tsx
  frontend/src/features/input/components/PlayButton.tsx
  frontend/src/features/input/components/RecorderContent.tsx
  frontend/src/features/input/components/Waveform.tsx
  frontend/src/features/meter/index.tsx
  frontend/src/index.css
Due: lint-staged-frontend

loading
  frontend/src/features/meter/index.tsx
  frontend/src/index.css
Due: lint-staged-frontend

loading
  frontend/src/features/input/hooks/useDevLoadingOverride.ts
  frontend/src/index.css
Due: lint-staged-frontend

loading
  frontend/src/index.css
Due: lint-staged-frontend

Update frontend/src/index.css
  frontend/src/index.css
Due: lint-staged-frontend

More Mobile Style Updates (#24)
  README.md
  frontend/src/features/input/AudioRecorder.tsx
  frontend/src/features/input/TextInput.tsx
  frontend/src/features/input/components/Controls.tsx
  frontend/src/features/input/components/DiscardButton.tsx
  frontend/src/features/input/components/MicButton.tsx
  frontend/src/features/input/components/MobileInputControls.tsx
  frontend/src/features/input/components/PlayButton.tsx
  frontend/src/features/input/components/RecorderContent.tsx
  frontend/src/features/input/components/SpeechStatus.tsx
  frontend/src/features/input/components/Waveform.tsx
  frontend/src/features/input/hooks/useDevLoadingOverride.ts
  frontend/src/features/meter/index.tsx
  frontend/src/index.css
Due: lint-staged-frontend

fixes
  .github/workflows/version.yml
  README.md
  backend/app.py
  backend/audio/processing.py
  backend/audio/validation.py
  backend/config.py
  backend/extensions.py
  backend/models/loader.py
  backend/routes/lexical.py
  backend/routes/prosodic.py
  backend/tests/test_audio_security.py
  backend/tests/test_lexical.py
  backend/tests/test_pickle_security.py
  backend/tests/test_prosodic.py
  backend/tests/test_rate_limiting.py
  backend/tests/test_sanitization.py
  backend/tests/test_validation.py
  backend/text/__init__.py
  backend/text/sanitization.py
  docker-compose.yml
  e2e/tests/rate-limiting.spec.ts
  frontend/src/features/input/apiService.test.ts
  frontend/src/features/input/apiService.ts
  frontend/src/features/input/components/RecorderContent.tsx
  frontend/src/features/input/components/Waveform.tsx
  frontend/src/features/input/hooks/useDevLoadingOverride.ts
  frontend/src/features/input/utils/telemetry.ts
  frontend/src/features/meter/context/DetectionProvider.tsx
  frontend/src/index.css
  frontend/src/version.ts
  package.json
  scripts/version.js
Due: lint-staged-frontend, prettier-e2e

fixes
  backend/app.py
  backend/audio/processing.py
  backend/config.py
  backend/extensions.py
  backend/models/inference.py
  backend/models/loader.py
  backend/routes/lexical.py
  backend/routes/prosodic.py
  backend/tests/test_pickle_security.py
  backend/tests/test_prosodic.py
  backend/tests/test_rate_limiting.py
Due: none

fixes
  .github/workflows/version.yml
  backend/tests/test_pickle_security.py
  frontend/src/features/input/apiService.test.ts
  frontend/src/features/input/utils/telemetry.ts
Due: lint-staged-frontend

fixes
  frontend/src/features/input/components/ModelSelector.test.tsx
  frontend/src/features/input/components/ModelSelector.tsx
  frontend/src/index.css
Due: lint-staged-frontend

loader
  backend/audio/validation.py
  backend/models/inference.py
  backend/models/loader.py
  backend/routes/health.py
  backend/routes/lexical.py
  backend/routes/prosodic.py
Due: none

fixes
  backend/audio/processing.py
  backend/audio/validation.py
  backend/config.py
  backend/docs/LOCK_ORDERING.md
  backend/docs/LOCK_ORDERING_SUMMARY.md
  backend/docs/README.md
  backend/docs/lock_ordering_demo.py
  backend/errors.py
  backend/extensions.py
  backend/models/loader.py
  backend/pyproject.toml
  backend/routes/prosodic.py
  backend/tests/test_audio_security.py
  backend/tests/test_lock_ordering.py
  backend/tests/test_pickle_security.py
  backend/tests/test_prosodic.py
  backend/tests/test_rate_limiting.py
  frontend/src/features/input/AudioRecorder.tsx
  frontend/src/features/input/InputContainer.tsx
  frontend/src/features/input/apiService.ts
  frontend/src/features/input/components/MobileInputControls.tsx
  frontend/src/features/input/components/ModelSelector.test.tsx
  frontend/src/features/input/components/ModelSelector.tsx
  frontend/src/features/input/components/SpeechStatus.tsx
  frontend/src/features/input/components/Waveform.tsx
  frontend/src/features/input/hooks/speech/index.ts
  frontend/src/features/input/hooks/speech/moonshineEngine.ts
  frontend/src/features/input/hooks/speech/webSpeechEngine.ts
  frontend/src/features/input/hooks/useDevLoadingOverride.ts
  frontend/src/features/input/hooks/useWaveform.ts
  frontend/src/features/input/utils/env.ts
  frontend/src/features/input/utils/telemetry.test.ts
  frontend/src/features/input/utils/telemetry.ts
  frontend/src/features/meter/context/DetectionProvider.tsx
  frontend/src/version.ts
Due: lint-staged-frontend

fixes
  backend/routes/health.py
Due: none

fixes
  .github/workflows/e2e.yml
  .pre-commit-config.yaml
  backend/docs/FORMATTING_FIX.md
  backend/requirements-dev.txt
  backend/scripts/check-formatting.sh
  backend/tests/test_rate_limiting.py
  ml/lexical/inference.py
  ml/lexical/inference_keras.py
  ml/lexical/train_huggingface.py
  ml/lexical/train_multi_dataset.py
  ml/lexical/train_sklearn_model_improved.py
  ml/lexical/train_transformer.py
  ml/prosodic/inference.py
  ml/prosodic/train_prosodic.py
  ml/prosodic/verify_onnx.py
Due: none

fixes
  .pre-commit-config.yaml
  backend/pyproject.toml
  backend/routes/health.py
  backend/tests/test_prosodic.py
Due: none

fixes
  frontend/src/features/input/components/SpeechStatus.tsx
  frontend/src/features/input/components/Status.tsx
  frontend/src/features/input/hooks/speech/webSpeechEngine.ts
  frontend/src/features/input/hooks/useAudioRecorder.ts
  frontend/src/index.css
Due: lint-staged-frontend

fixes
  README.md
  backend/.python-version
  backend/docs/README.md
  backend/runtime.txt
  backend/scripts/check-python-version.sh
  package.json
Due: none

cleanup
  README.md
  backend/pyproject.toml
  backend/routes/health.py
  frontend/src/features/input/AudioRecorder.tsx
  frontend/src/features/input/TextInput.tsx
  frontend/src/features/input/components/Controls.tsx
  frontend/src/features/input/components/ExamplePhrases.tsx
  frontend/src/features/input/components/MobileInputControls.tsx
  frontend/src/features/input/components/SharedTextArea.tsx
  frontend/src/index.css
Due: lint-staged-frontend

cleanup
  .github/workflows/version.yml
Due: none

cleanup
  backend/pyproject.toml
  frontend/src/features/input/GettingStarted.tsx
  frontend/src/features/input/components/ExamplePhrases.test.tsx
  frontend/src/features/input/components/ExamplePhrases.tsx
  frontend/src/features/input/components/MobileInputControls.tsx
  frontend/src/features/input/components/SharedTextArea.tsx
  frontend/src/index.css
Due: lint-staged-frontend

cleanup
  backend/.python-version
  backend/routes/health.py
Due: none

Update frontend/src/features/input/TextInput.tsx
  frontend/src/features/input/TextInput.tsx
Due: lint-staged-frontend

Update frontend/src/features/input/components/MobileInputControls.tsx
  frontend/src/features/input/components/MobileInputControls.tsx
Due: lint-staged-frontend

cleanup
  frontend/src/index.css
Due: lint-staged-frontend

More Cosmetic Changes (#26)
  .github/workflows/version.yml
  README.md
  backend/.python-version
  frontend/src/features/input/AudioRecorder.tsx
  frontend/src/features/input/GettingStarted.tsx
  frontend/src/features/input/TextInput.tsx
  frontend/src/features/input/components/Controls.tsx
  frontend/src/features/input/components/ExamplePhrases.test.tsx
  frontend/src/features/input/components/ExamplePhrases.tsx
  frontend/src/features/input/components/MobileInputControls.tsx
  frontend/src/features/input/components/SharedTextArea.tsx
  frontend/src/index.css
Due: lint-staged-frontend

auto-stop feature
  .github/workflows/version.yml
  frontend/src/features/input/AudioRecorder.tsx
  frontend/src/features/input/components/MobileInputControls.tsx
  frontend/src/features/input/components/RecorderContent.tsx
  frontend/src/features/input/components/SpeechStatus.tsx
  frontend/src/features/input/components/Status.tsx
  frontend/src/features/input/hooks/constants.ts
  frontend/src/features/input/hooks/useAudioRecorder.ts
  frontend/src/features/meter/context/DetectionProvider.tsx
  frontend/src/features/meter/utils/meterConstants.ts
  frontend/src/index.css
Due: lint-staged-frontend

auto-stop feature
  .github/workflows/version.yml
Due: none

auto-stop feature
  .github/workflows/version.yml
  frontend/src/features/input/components/MobileInputControls.tsx
  frontend/src/features/input/components/Status.tsx
Due: lint-staged-frontend

auto-stop feature
  frontend/src/features/input/components/MobileInputControls.tsx
  frontend/src/features/input/components/Status.tsx
  frontend/src/features/input/hooks/useAudioRecorder.test.ts
  frontend/src/features/input/hooks/useAudioRecorder.ts
  frontend/src/index.css
Due: lint-staged-frontend

Path conditions:
  lint-staged-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|json)$
  prettier-e2e: any of: ^e2e/.*\.(ts|js|json)$
