Repository signalflowsean/Sarcasm-Detection: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-staged-frontend, prettier-e2e

.pre-commit-config.yaml:

# Pre-commit hooks for automatic linting/formatting
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
        exclude: ^(\.vscode/|frontend/tsconfig\..*\.json$)
      - id: check-added-large-files
        args: ["--maxkb=1000"]

  # Python - Ruff (linting + formatting)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.2
    hooks:
      # Linter with auto-fix (backend only - ml/ has training scripts)
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: ^backend/
      # Formatter (both backend and ml)
      - id: ruff-format
        files: ^backend/|^ml/

  # Frontend - ESLint + Prettier (via lint-staged for speed)
  - repo: local
    hooks:
      - id: lint-staged-frontend
        name: lint-staged (frontend)
        entry: bash -c 'cd frontend && npx lint-staged'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|css|json)$
        pass_filenames: false

  # E2E - Prettier for TypeScript
  - repo: local
    hooks:
      - id: prettier-e2e
        name: prettier (e2e)
        entry: bash -c 'cd e2e && npx prettier --write "tests/**/*.ts" "*.ts" "*.json"'
        language: system
        files: ^e2e/.*\.(ts|js|json)$
        pass_filenames: false

uses moonshine for speech to text
  README.md
Due: none

Update mocks/typescript/audio.ts
  mocks/typescript/audio.ts
Due: none

Update frontend/src/features/input/hooks/useSpeechRecognition.ts
  frontend/src/features/input/hooks/useSpeechRecognition.ts
Due: lint-staged-frontend

uses moonshine for speech to text
  frontend/src/features/input/hooks/useSpeechRecognition.test.ts
  frontend/src/features/input/hooks/useSpeechRecognition.ts
Due: lint-staged-frontend

uses moonshine for speech to text
  frontend/src/features/input/hooks/useSpeechRecognition.test.ts
Due: lint-staged-frontend

Update frontend/package-lock.json
  frontend/package-lock.json
Due: lint-staged-frontend

Speech To Text Polyfill (#20)
  README.md
  backend/Dockerfile
  e2e/.prettierignore
  e2e/env.example
  e2e/tests/audio-recording.spec.ts
  e2e/tests/mobile-audio.spec.ts
  e2e/tests/smoke.spec.ts
  e2e/tests/utils/audio-mocks.ts
  frontend/env.example
  frontend/package-lock.json
  frontend/package.json
  frontend/src/features/input/components/RecorderContent.tsx
  frontend/src/features/input/components/SpeechStatus.tsx
  frontend/src/features/input/hooks/useSpeechRecognition.test.ts
  frontend/src/features/input/hooks/useSpeechRecognition.ts
  frontend/src/test/mocks.ts
  frontend/src/types/moonshine-js.d.ts
  ml/prosodic/README.md
  mocks/typescript/audio-node.ts
  mocks/typescript/audio.ts
  mocks/typescript/index.ts
Due: lint-staged-frontend, prettier-e2e

simplify server setup
  README.md
  e2e/env.example
  e2e/tests/smoke.spec.ts
  package.json
Due: prettier-e2e

Update README.md
  README.md
Due: none

moonshine setup and config
  README.md
  e2e/env.example
  e2e/run-docker-e2e.sh
  e2e/tests/smoke.spec.ts
  frontend/MOBILE_DEV_TESTING.md
  frontend/docs/MOONSHINE_MODELS.md
  frontend/env.example
  frontend/package.json
  frontend/src/features/input/InputContainer.tsx
  frontend/src/features/input/components/ModelSelector.test.tsx
  frontend/src/features/input/components/ModelSelector.tsx
  frontend/src/features/input/components/SpeechStatus.tsx
  frontend/src/features/input/hooks/useSpeechRecognition.test.ts
  frontend/src/features/input/hooks/useSpeechRecognition.ts
  frontend/src/features/input/utils/telemetry.ts
  frontend/src/index.css
  package-lock.json
  package.json
Due: lint-staged-frontend, prettier-e2e

moonshine setup and config
  README.md
  e2e/env.example
  e2e/tests/smoke.spec.ts
  frontend/docs/MOONSHINE_MODELS.md
  frontend/env.example
  frontend/src/features/input/components/ModelSelector.tsx
  frontend/src/features/input/components/SpeechStatus.tsx
  frontend/src/features/input/hooks/useSpeechRecognition.ts
Due: lint-staged-frontend, prettier-e2e

moonshine setup and config
  docker-compose.yml
  frontend/MOBILE_DEV_TESTING.md
  frontend/README.md
  frontend/eslint.config.js
  frontend/src/features/input/utils/telemetry.test.ts
  frontend/tsconfig.json
  ml/README.md
  ml/lexical/README.md
  ml/lexical/vectorizer_config.json
  ml/lexical/vocabulary.json
  mocks/typescript/audio.ts
Due: lint-staged-frontend

Update frontend/src/features/input/components/ModelSelector.tsx
  frontend/src/features/input/components/ModelSelector.tsx
Due: lint-staged-frontend

Moonshine Model Changer & Simplify Server Setup for E2E & Ease of Dev (#21)
  README.md
  docker-compose.yml
  e2e/env.example
  e2e/run-docker-e2e.sh
  e2e/tests/smoke.spec.ts
  frontend/MOBILE_DEV_TESTING.md
  frontend/README.md
  frontend/docs/MOONSHINE_MODELS.md
  frontend/env.example
  frontend/eslint.config.js
  frontend/package.json
  frontend/src/features/input/InputContainer.tsx
  frontend/src/features/input/components/ModelSelector.test.tsx
  frontend/src/features/input/components/ModelSelector.tsx
  frontend/src/features/input/components/SpeechStatus.tsx
  frontend/src/features/input/hooks/useSpeechRecognition.test.ts
  frontend/src/features/input/hooks/useSpeechRecognition.ts
  frontend/src/features/input/utils/telemetry.test.ts
  frontend/src/features/input/utils/telemetry.ts
  frontend/src/index.css
  frontend/tsconfig.json
  ml/README.md
  ml/lexical/README.md
  ml/lexical/vectorizer_config.json
  ml/lexical/vocabulary.json
  mocks/typescript/audio.ts
  package-lock.json
  package.json
Due: lint-staged-frontend, prettier-e2e

mobile
  .cursor/plans/phase_2_mobile_tablet_layout_consolidation.plan.md
  frontend/src/breakpoints.ts
  frontend/src/features/input/InputContainer.tsx
  frontend/src/features/input/components/MobileInputControls.tsx
  frontend/src/features/meter/RouteSync.tsx
  frontend/src/features/meter/components/DetectionModeSwitch.tsx
  frontend/src/features/meter/components/FirstTimeOverlay.tsx
  frontend/src/features/meter/index.tsx
  frontend/src/index.css
Due: lint-staged-frontend

mobile
  frontend/src/features/input/components/MobileInputControls.tsx
  frontend/src/index.css
Due: lint-staged-frontend

mobile
  e2e/tests/app.spec.ts
  e2e/tests/audio-recording.spec.ts
  e2e/tests/mobile-audio.spec.ts
  e2e/tests/navigation.spec.ts
  e2e/tests/text-input.spec.ts
Due: prettier-e2e

mobile
  frontend/src/breakpoints.ts
  frontend/src/features/input/components/MobileInputControls.tsx
  frontend/src/features/input/hooks/speech/index.ts
  frontend/src/features/input/hooks/speech/moonshineEngine.ts
  frontend/src/features/input/hooks/speech/types.ts
  frontend/src/features/input/hooks/speech/webSpeechEngine.ts
  frontend/src/features/input/hooks/useSpeechRecognition.test.ts
  frontend/src/features/input/hooks/useSpeechRecognition.ts
  frontend/src/features/meter/components/FirstTimeOverlay.tsx
  frontend/src/index.css
Due: lint-staged-frontend

mobile
  frontend/src/features/input/components/MobileInputControls.tsx
  frontend/src/features/input/hooks/speech/index.ts
  frontend/src/features/input/hooks/speech/webSpeechEngine.ts
  frontend/src/features/meter/RouteSync.tsx
  frontend/src/index.css
Due: lint-staged-frontend

mobile
  e2e/tests/app.spec.ts
  e2e/tests/audio-recording.spec.ts
  e2e/tests/mobile-audio.spec.ts
  e2e/tests/navigation.spec.ts
  e2e/tests/text-input.spec.ts
  frontend/src/features/meter/RouteSync.tsx
Due: lint-staged-frontend, prettier-e2e

mobile
  e2e/tests/app.spec.ts
  e2e/tests/mobile-audio.spec.ts
  e2e/tests/navigation.spec.ts
  frontend/src/features/input/hooks/speech/webSpeechEngine.ts
  frontend/src/features/meter/RouteSync.tsx
Due: lint-staged-frontend, prettier-e2e

mobile
  frontend/src/features/input/components/MobileInputControls.tsx
  frontend/src/features/input/components/SpeechStatus.tsx
  frontend/src/features/meter/components/DetectionModeSwitch.tsx
  frontend/src/features/meter/index.tsx
  frontend/src/index.css
Due: lint-staged-frontend

mobile
  frontend/src/features/input/components/MobileInputControls.tsx
Due: lint-staged-frontend

mobile
  frontend/src/breakpoints.ts
  frontend/src/features/input/InputContainer.tsx
  frontend/src/features/input/components/MobileInputControls.tsx
  frontend/src/features/input/hooks/speech/index.ts
  frontend/src/features/meter/RouteSync.tsx
  frontend/src/features/meter/components/FirstTimeOverlay.tsx
  frontend/src/features/meter/index.tsx
  frontend/src/index.css
Due: lint-staged-frontend

mobile
  frontend/src/breakpoints.ts
  frontend/src/features/input/components/MobileInputControls.tsx
  frontend/src/features/input/components/SpeechStatus.tsx
  frontend/src/features/input/hooks/speech/index.ts
  frontend/src/features/input/hooks/speech/webSpeechEngine.ts
  frontend/src/features/meter/components/DetectionModeSwitch.tsx
  frontend/src/index.css
Due: lint-staged-frontend

mobile
  frontend/src/features/input/hooks/useSpeechRecognition.test.ts
Due: lint-staged-frontend

mobile
  e2e/tests/navigation.spec.ts
  frontend/src/features/input/components/MobileInputControls.tsx
  frontend/src/features/input/hooks/speech/index.ts
  frontend/src/features/input/hooks/speech/webSpeechEngine.ts
  frontend/src/features/input/hooks/useSpeechRecognition.test.ts
  frontend/src/features/meter/RouteSync.tsx
  frontend/src/features/meter/components/DetectionModeSwitch.tsx
  frontend/src/features/meter/index.tsx
  frontend/src/index.css
Due: lint-staged-frontend, prettier-e2e

mobile
  frontend/src/features/input/AudioRecorder.tsx
  frontend/src/features/input/components/MobileInputControls.tsx
  frontend/src/features/input/hooks/useAudioRecorder.ts
Due: lint-staged-frontend

mobile
  frontend/src/App.tsx
  frontend/src/features/input/AudioRecorder.tsx
  frontend/src/features/input/InputContainer.tsx
  frontend/src/features/input/TextInput.tsx
  frontend/src/features/input/components/CableOverlay.tsx
  frontend/src/features/input/components/Controls.tsx
  frontend/src/features/input/components/DiscardButton.tsx
  frontend/src/features/input/components/MobileInputControls.tsx
  frontend/src/features/input/components/MobileInputOverlay.tsx
  frontend/src/features/input/components/PlayButton.tsx
  frontend/src/features/input/components/RecorderContent.tsx
  frontend/src/features/input/components/SpeechStatus.tsx
  frontend/src/features/input/hooks/speech/index.test.ts
  frontend/src/features/input/hooks/speech/index.ts
  frontend/src/features/input/hooks/speech/moonshineEngine.ts
  frontend/src/features/input/hooks/speech/webSpeechEngine.ts
  frontend/src/features/input/hooks/useSpeechRecognition.ts
  frontend/src/features/meter/RouteSync.tsx
  frontend/src/features/meter/components/FirstTimeOverlay.tsx
  frontend/src/features/meter/components/LevelIndicators.tsx
  frontend/src/features/meter/components/RotarySwitch.tsx
  frontend/src/features/meter/context/DetectionProvider.tsx
  frontend/src/features/meter/context/WhichInputProvider.tsx
  frontend/src/features/meter/hooks/useDetection.ts
  frontend/src/features/meter/hooks/useWhichInput.ts
  frontend/src/features/meter/index.tsx
  frontend/src/features/meter/types.ts
  frontend/src/features/meter/utils/constants.ts
  frontend/src/features/meter/utils/meterConstants.ts
  frontend/src/features/meter/utils/utils.test.ts
  frontend/src/features/meter/utils/utils.ts
  frontend/src/index.css
  frontend/src/main.tsx
Due: lint-staged-frontend

mobile
  .husky/pre-commit
  README.md
  frontend/package-lock.json
  frontend/package.json
Due: lint-staged-frontend

mobile
  README.md
  frontend/src/features/input/components/PlayButton.tsx
Due: lint-staged-frontend

mobile
  e2e/tests/mobile-audio.spec.ts
  e2e/tests/navigation.spec.ts
  e2e/tests/utils/constants.ts
  frontend/src/features/input/AudioRecorder.tsx
  frontend/src/features/input/apiService.ts
  frontend/src/features/input/components/MobileInputControls.tsx
  frontend/src/features/input/hooks/speech/moonshineEngine.ts
  frontend/src/features/input/hooks/speech/webSpeechEngine.ts
Due: lint-staged-frontend, prettier-e2e

mobile
  .cursor/plans/phase_2_mobile_tablet_layout_consolidation.plan.md
Due: none

mobile
  frontend/src/features/input/hooks/speech/index.ts
  frontend/src/features/input/hooks/speech/moonshineEngine.ts
  frontend/src/features/input/hooks/speech/types.ts
Due: lint-staged-frontend

mobile
  e2e/tests/navigation.spec.ts
  e2e/tests/utils/navigation.ts
  frontend/src/App.tsx
  frontend/src/features/input/components/MobileInputControls.tsx
  frontend/src/features/input/hooks/speech/index.ts
  frontend/src/features/input/hooks/speech/webSpeechEngine.ts
Due: lint-staged-frontend, prettier-e2e

mobile
  e2e/tests/utils/navigation.ts
Due: prettier-e2e
